@tailwind base;
@tailwind components;
@tailwind utilities;

.sContainer {
  @apply container max-w-screen-lg px-3
}
body{
  @apply bg-accent-black
}
::-webkit-scrollbar{
  @apply hidden
}
.active{
  @apply  font-semibold text-accent-black 
}
tr{
  @apply border-b border-neutral-700 py-2 md:gap-0 gap-10
}
tbody tr:last-child{
  @apply border-b-0
}
th, td{
  @apply w-max md:w-1/5 text-center
}
.swiper-scrollbar {
  @apply h-2 dark:bg-neutral-600 rounded-full
}
.swiper-scrollbar-drag {
  @apply dark:bg-neutral-200 rounded-full}
.number-2,
.number{
  height: 80px;
  width: 80px;
  backdrop-filter: blur(10px);
  color: #54BAAC;
  background: #54baac1d;
  @apply flex justify-center items-center mt-2
}
.number-2{
  width: 60px;
  height: 60px;
}
form{
  width: 90%;
  max-width: 100% !important;
}
label{
  @apply text-sm text-neutral-500
}
.input-bg{
  @apply dark:bg-input-bg bg-neutral-200 dark:text-accent-white text-accent-black
}
.input-styles{
  border: 1px solid #47474742;
  @apply outline-none rounded-md
}
.radio-inputs .radio {
  flex: 1 1 auto;
}
.radio-inputs .radio .name {
  @apply flex cursor-pointer items-center justify-center border-0 dark:text-accent-white text-accent-black transition-all h-[40px] rounded-md
}

.radio-inputs .radio input:checked + .name {
  @apply font-semibold border border-green-800 bg-green-900/20
}



.frm2{
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid white;
  
}
.frm2 .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding-bottom: 1.5rem;
}
.frm2 label{
  color: #000;
}
.frm2 input{
  margin-top:  0;
  color: #000;
}
.frm2 input{
  height: 50px;
  font-size: 15px;
  color: white;  
}
.frm2 p{
  font-size: 15px;
  line-height: 20px;
}